@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Biler!</h1>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - A Pen by Mohithpoojary</title>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">
           
                  
                      
                       
                    </div>
                  
               
                   
                      
                       
                         
                
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
   
    <!-- partial -->

</body>
</html>


@code {
    private string SearchButton = "";
    private void OnLoginEvent(ChangeEventArgs changeEvent)
    {
        SearchButton = (string)changeEvent.Value;
    }

    

 
}
